{{- define "rucio-daemons.policy-package-init-container" -}}
{{- if .Values.policyPackages.enabled }}
initContainers:
- name: install-policy-packages
  # A slim Python image could be used instead, but using the same image as the base image for the main container ensures that the same Python version is used
  image: "{{ include "rucio.image.registry" . }}almalinux:9"
  command:
    - /bin/bash
    - -e
    - -c
    - |
      export PYTHONPATH={{ .Values.policyPackages.mountPath }}:$PYTHONPATH
      {{- range .Values.policyPackages.packages }}
      if python3 -c "from importlib.metadata import version; assert version({{ .moduleName | squote }}) == {{ .version | squote }}"; then
          echo "module {{ .moduleName }} version {{ .version }} is already installed"
      else
          if [[ {{ .requirement | squote }} == git+* ]]; then
              dnf install --assumeyes git
          fi
          dnf install --assumeyes python-pip
          pip uninstall --yes {{ .moduleName }}
          pip install {{ .requirement }} --target {{ $.Values.policyPackages.mountPath }}
      fi
      {{- end }}
  volumeMounts:
  - name: policy-package-volume
    mountPath: {{ .Values.policyPackages.mountPath }}
{{- end }}
{{- end }}