apiVersion: v1
kind: Secret
metadata:
  name: {{ template "rucio.fullname" . }}.config.yaml
  labels:
    app: {{ template "rucio.name" . }}
    chart: {{ template "rucio.chart" . }}
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
type: Opaque
data:
  {{- $common_config := .Values.config | default dict | mustToPrettyJson | b64enc }}
  common.json: {{ $common_config | quote }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "rucio.fullname" . }}
  labels:
    app: {{ template "rucio.name" . }}
    chart: {{ template "rucio.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "rucio.name" . }}
      release: {{ .Release.Name }}
  strategy:
    type: {{ .Values.strategy.type }}
{{- if eq .Values.strategy.type "RollingUpdate" }}
    {{- with .Values.strategy.rollingUpdate }}
    rollingUpdate:
{{ toYaml . | trim | indent 6 }}
    {{- end }}
{{- end }}
  minReadySeconds: {{ .Values.minReadySeconds }}
  template:
    metadata:
      labels:
        app: {{ template "rucio.name" . }}
        release: {{ .Release.Name }}
      annotations:
        checksum/config: {{ $common_config | sha1sum }}
    spec:
    {{- if .Values.serviceAccountName }}
      serviceAccountName: {{ .Values.serviceAccountName }}
    {{- end }}
      volumes:
      - name: config
        secret:
          secretName: {{ template "rucio.fullname" . }}.config.yaml
      - name: aliases
        configMap:
          name: {{ template "rucio.fullname" . }}-aliases
      - name: httpdlog
        emptyDir: {}
      {{- if .Values.tlsSecretName }}
      - name: tls-secret-volume
        secret:
          secretName: {{ .Values.tlsSecretName }}
          items:
            - key: tls.crt
              path: hostcert.pem
            - key: tls.key
              path: hostkey.pem
      {{- end }}
      {{- if .Values.policyPackages.enabled }}
      - name: policy-package-volume
        persistentVolumeClaim:
          claimName: {{ include "rucio.pvc.claimName" . }}
      {{- end }}
      {{- if .Values.useDeprecatedImplicitSecrets }}
      {{- if eq .Values.service.useSSL true }}
      - name: hostcert
        secret:
          secretName: {{ .Release.Name }}-hostcert
      - name: hostkey
        secret:
          secretName: {{ .Release.Name }}-hostkey
      - name: cafile
        secret:
          secretName: {{ .Release.Name }}-cafile
      {{- end }}
      {{- end }}
      {{- range $key, $val := .Values.secretMounts }}
      - name: {{ coalesce $val.volumeName $val.secretName $val.secretFullName }}
        secret:
          secretName: {{ coalesce $val.secretFullName (printf "%s-%s" $.Release.Name $val.secretName) }}
      {{- end}}
      {{- range $key, $val := .Values.persistentVolumes }}
      - name: {{ $key }}
        persistentVolumeClaim:
          claimName: {{ $val.name }}
      {{- end}}
      {{- range $collection := tuple .Values.hostPathMounts }}
      {{- range $key, $val := $collection }}
      - name: {{ $val.volumeName | default (printf "a%s" ($val.mountPath | sha1sum)) }}
        hostPath:
          {{- if $val.type }}
          type: {{ $val.type }}
          {{- end}}
          path: {{ $val.hostPath }}
      {{- end}}
      {{- end}}
{{- if .Values.policyPackages.enabled }}
      initContainers:
      - name: install-policy-packages
        # A slim Python image could be used instead, but using the same image as the base image for the main container ensures that the same Python version is used
        image: "{{ include "rucio.image.registry" . }}almalinux:9"
        command:
          - /bin/bash
          - -e
          - -c
          - |
            export PYTHONPATH={{ .Values.policyPackages.mountPath }}:$PYTHONPATH
            {{- range .Values.policyPackages.packages }}
            if python3 -c "from importlib.metadata import version; assert version({{ .moduleName | squote }}) == {{ .version | squote }}"; then
                echo "module {{ .moduleName }} version {{ .version }} is already installed"
            else
                if [[ {{ .requirement | squote }} == git+* ]]; then
                    dnf install --assumeyes git-all
                fi
                dnf install --assumeyes python-pip
                pip install {{ .requirement }} --target {{ $.Values.policyPackages.mountPath }}
            fi
            {{- end }}
        volumeMounts:
        - name: policy-package-volume
          mountPath: {{ .Values.policyPackages.mountPath }}
{{- end }}
      containers:
{{- if .Values.exposeErrorLogs }}
        - name: httpd-error-log
          image: "{{ include "rucio.image.registry" . }}busybox"
          args: [/bin/sh, -c, 'tail -n+1 -F /var/log/httpd/error_log']
          volumeMounts:
          - name: httpdlog
            mountPath: /var/log/httpd
{{- end }}
        - name: {{ .Chart.Name }}
          image: "{{ include "rucio.image.registry" . }}{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
            {{- if .Values.service.useSSL }}
            - name: https
              containerPort: 443
              protocol: TCP
            {{- end }}
          volumeMounts:
            - name: config
              mountPath: /opt/rucio/etc/conf.d/10_common.json
              subPath: common.json
            - name: httpdlog
              mountPath: /var/log/httpd
            - name: aliases
              mountPath: /opt/rucio/etc/aliases.conf
              subPath: aliases.conf
            {{- if .Values.tlsSecretName }}
            - name: tls-secret-volume
              mountPath: /etc/grid-security/hostcert.pem
              subPath: hostcert.pem
              readOnly: true
            - name: tls-secret-volume
              mountPath: /etc/grid-security/hostkey.pem
              subPath: hostkey.pem
              readOnly: true
            {{- end }}
            {{- if .Values.policyPackages.enabled }}
            - name: policy-package-volume
              mountPath: {{ .Values.policyPackages.mountPath }}
            {{- end }}
            {{- if .Values.useDeprecatedImplicitSecrets }}
            {{- if .Values.service.useSSL }}
            - name: hostcert
              mountPath: /etc/grid-security/hostcert.pem
              subPath: hostcert.pem
            - name: hostkey
              mountPath: /etc/grid-security/hostkey.pem
              subPath: hostkey.pem
            - name: cafile
              mountPath: /etc/grid-security/ca.pem
              subPath: ca.pem
            {{- end}}
            {{- end}}
            {{- range $collection := tuple .Values.hostPathMounts }}
            {{- range $key, $val := $collection }}
            - name: {{ $val.volumeName | default (printf "a%s" ($val.mountPath | sha1sum)) }}
              mountPath: {{ $val.mountPath }}
              readOnly: {{ $val.readOnly | default false }}
            {{- end}}
            {{- end}}
            {{- range $key, $val := .Values.secretMounts }}
            - name: {{ coalesce $val.volumeName $val.secretName $val.secretFullName }}
              mountPath: {{ $val.mountPath }}
              subPath: {{ $val.subPath }}
            {{- end}}
            {{- range $key, $val := .Values.persistentVolumes }}
            - name: {{ $key }}
              mountPath: {{ $val.mountPath }}
            {{- end}}
          env:
            {{- range $key, $val := .Values.httpd_config }}
            - name: RUCIO_HTTPD_{{ $key | upper }}
              valueFrom:
                secretKeyRef:
                  name: {{ template "rucio.fullname" $ }}.cfg
                  key: {{ $key }}
            {{- end}}
            {{- range $key1, $val1 := .Values.optional_config }}
            - name: {{ $key1 | upper }}
              value: "{{ $val1  }}"
            {{- end}}
{{- if not .Values.proxy.configurationFromEnv }}
            - name: RUCIO_PROXY
              value: {{ .Values.proxy.rucioProxy }}
            - name: RUCIO_AUTH_PROXY
              value: {{ .Values.proxy.rucioAuthProxy }}
            - name: RUCIO_HOSTNAME
              value: {{ .Values.httpd_config.rucio_hostname }}
{{- end }}
{{- if .Values.proxy.rucioProxyScheme }}
            - name: RUCIO_PROXY_SCHEME
              value: {{ .Values.proxy.rucioProxyScheme }}
{{- end }}
{{- if .Values.proxy.rucioAuthProxyScheme }}
            - name: RUCIO_AUTH_PROXY_SCHEME
              value: {{ .Values.proxy.rucioAuthProxyScheme }}
{{- end }}
            - name: RUCIO_OVERRIDE_CONFIGS
              value: "/opt/rucio/etc/conf.d/"
            - name: RUCIO_LOG_FORMAT
              value: '[%{%Y-%m-%d %H:%M:%S}t]\t%v\t%h\t%{X-Forwarded-For}i\t%{X-Rucio-RequestId}i\t%>s\t%I\t%B\t%D\t\"%r\"\t\"%{X-Rucio-Account}i\"\t\"%{User-Agent}i\"\t%{X-Rucio-Script}i'
{{- if not .Values.service.useSSL }}
            - name: RUCIO_ENABLE_SSL
              value: "False"
{{- else }}
            - name: RUCIO_ENABLE_SSL
              value: "True"
{{- end }}
{{- if .Values.policyPackages.enabled}}
            - name: PYTHONPATH
              value: {{.Values.policyPackages.mountPath}}:${PYTHONPATH}
{{- end}}
{{- with .Values.additionalEnvs }}
{{ toYaml . | indent 12 }}
{{- end}}
          resources:
{{ toYaml .Values.resources | indent 12 }}
{{- with .Values.imagePullSecrets }}
      imagePullSecrets:
{{ toYaml . | indent 6 }}
{{- end}}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
