name: Lint and Test Charts

on:
  - pull_request
  - push

env:
  TARGET_BRANCH: ${{ github.base_ref || github.ref_name }}

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.10.0

      - uses: actions/setup-python@v6
        with:
          python-version: '3.9'
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.8.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --target-branch ${{ env.TARGET_BRANCH }})
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> $GITHUB_OUTPUT
          fi

      - name: Run chart-testing (lint)
        run: ct lint --debug --validate-maintainers=false --target-branch ${{ env.TARGET_BRANCH }}

      - name: Create kind cluster
        uses: helm/kind-action@v1.13.0
        if: steps.list-changed.outputs.changed == 'true'

      # TODO: enable again when skip-clean-up is released in the next version
      # - name: Run chart-testing (install)
      #   run: ct install --debug --skip-clean-up --helm-extra-args=" --dry-run "
